
<div class="container">
  <span class="heading">* double click feedback/status to edit</span> &nbsp; &nbsp;
  <span class="heading">* click column to sort</span>
  <!-- <button type="submit" class="btn btn-info save">Save</button>   -->
</div>
<ag-grid-angular class="ag-theme-balham table" [rowData]="rowData" [gridOptions]="gridOptions"
  [columnDefs]="gridOptions.columnDefs"
  [enableCellChangeFlash]="true"
      [animateRows]="true"
      (rowValueChanged)="addFeedback($event)">
</ag-grid-angular>