<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="../../../assets/img-01.png" alt="IMG" class="animated bounce delay-3s infinite">
            </div>

            <form class="login100-form validate-form" [formGroup]="loginForm">

                <span class="login100-form-title">
                    Member Login
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" formControlName="email" placeholder="abc@wissen.com">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)"
                    class="alert alert-danger">
                    <div *ngIf="loginForm.get('email').errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="loginForm.get('email').errors.email">
                        enter correct email id
                    </div>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" formControlName="password" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
                    class="alert alert-danger">
                    <div *ngIf="loginForm.get('password').errors.required">
                        password is required
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" [disabled]="!this.loginForm.valid" (click)="loginUser($event)">
                        Login
                    </button>
                </div>



                <!-- <div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div> -->

                <!-- <div class="text-center p-t-136">
						<a class="txt2" href="#">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div> -->
            </form>
        </div>
    </div>
</div>
<!-- <pre>
                        {{registerForm.value | json}}
                        {{registerForm.valid}}
                         {{registerForm.get('password').error.minLength}}
                </pre> -->


<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>