<div #content class="form-modal">
    <div class="modal-header">
        <h4 *ngIf="data.isAvailable" class="modal-title heading" id="modal-basic-title">Schedule Interview</h4>
        <h4 *ngIf="!data.isAvailable" class="modal-title heading" id="modal-basic-title">Scheduled Interview</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalClose('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="scheduleForm">
            <mat-chip-list class="side-info">
                <mat-chip class="heading-small">{{viewDate.toDateString()}}</mat-chip>&nbsp;
                <mat-chip class="heading-small">{{startTime}}</mat-chip>&nbsp;
                <mat-chip class="heading-small">{{endTime}}</mat-chip>
            </mat-chip-list>
            <mat-chip-list>
                <mat-chip class="heading-imp">{{data.slot.interviewerName}}</mat-chip>
                <mat-chip class="heading-small" *ngIf="tech">{{tech}}</mat-chip>
                <mat-chip class="heading-small" *ngIf="level">{{level}}</mat-chip>
            </mat-chip-list>

            <div *ngIf="data.isAvailable">
                <hr>
                <mat-form-field>
                    <mat-label>Tech</mat-label>
                    <mat-select (selectionChange)="addTech($event.value)">
                        <mat-option *ngFor="let tech of data.slot.technologies" [value]="tech">
                            {{tech.technology}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Level</mat-label>
                    <mat-select (selectionChange)="addLevel($event.value)">
                        <mat-option *ngFor="let level of data.slot.levels" [value]="level">
                            {{level.level}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <hr>
            <div>
                <mat-form-field class="example-full-width" style="width: 48%">
                        <input [readonly]="!data.isAvailable" matInput placeholder="Candidate Name"
                        formControlName="candidateName" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getCandidateName($event.option.value)'>
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                &nbsp;

                <mat-form-field class="example-full-width" style="width: 30%">
                        <input [readonly]="!data.isAvailable" matInput type="number" placeholder="Phone"
                        formControlName="candidatePh">
                </mat-form-field>
            </div>
            &nbsp;

            <div *ngIf="false">
                <input [readonly]="!data.isAvailable" placeholder="CV" formControlName="candidateCV"> &nbsp;

                <button type="button" class="btn btn-primary" (click)=scheduleFormSubmit($event)>Upload</button>
            </div>


            <mat-form-field class="example-full-width">
                <textarea [readonly]="!data.isAvailable" matInput placeholder="Description"
                    formControlName="interviewDescr">
                </textarea>
            </mat-form-field>

            <hr>

            <h4 *ngIf="!data.isAvailable" class="modal-title heading" id="modal-basic-title">Cancel this Interview?</h4>

            <mat-form-field *ngIf="!data.isAvailable" class="example-full-width">
                <textarea [formControl]="cancellationReason" matInput
                placeholder="Enter cancellation reason"></textarea>
            </mat-form-field>
        </form>




        <button *ngIf="data.isAvailable" class="btn btn-dark submit-form" (click)="modalClose('submit')"
        [disabled]="!scheduleForm.valid">Schedule</button>
        <button *ngIf="!data.isAvailable" [disabled]="!cancellationReason.valid" class="btn btn-danger submit-form"
            (click)="modalClose('delete')">Cancel Interview</button>
    </div>
</div>

<!-- <pre>
    {{scheduleForm.valid}}
    {{scheduleForm.value | json}}
</pre> -->