<div #content>
<div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Schedule Interview</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h4>
            <span class="badge badge-info">{{slotDate}}</span> &nbsp;
            <span class="badge badge-info">{{startTime}}</span> &nbsp;
            <span class="badge badge-info">{{endTime}}</span>
        </h4>

        <form [formGroup]="scheduleForm">

            <mat-form-field class="example-full-width" style="width: 48%">
                <input matInput placeholder="Candidate Name" formControlName="candidateName">
            </mat-form-field>

            &nbsp;

            <mat-form-field class="example-full-width" style="width: 48%">
                <input matInput placeholder="Candidate Phone no." formControlName="candidatePh">
            </mat-form-field>

            &nbsp;
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Candidate CV" formControlName="candidateCV">
            </mat-form-field>

            <hr>

            <mat-form-field class="example-full-width" style="width: 48%">
                <input matInput placeholder="Round" formControlName="round">
            </mat-form-field>

            &nbsp;

            <mat-form-field class="example-full-width" style="width: 48%">
                <input matInput placeholder="Technology" formControlName="technology">
            </mat-form-field>

            <hr>

            <mat-form-field class="example-full-width" style="width: 100%">
                <input matInput placeholder="Description" formControlName="interviewDescr">
            </mat-form-field>

        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')"
            [disabled]="!scheduleForm.valid">Submit</button>
    </div>
</div>