<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" [ngClass]="sideBar? 'active': ''">
        <div class="sidebar-header" (click)="toggleSidebar()">
            <h3>Scheduling Omega</h3>
            <strong><img clas="img-thumbnail"src="../../../assets/logo.png"></strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a routerLink=''>
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>


            <li>
                <a (click)="navigateToDashboard()">

                    <i class="fa fa-copy"></i>
                    Schedule
                </a>
            </li>
            <li>
                <a routerLink="previous">

                    <i class="fa fa-calendar"></i>
                    Previous Schedule
                </a>
            </li>
            <li>
                <a routerLink='portfolio'>
                    <i class="fa fa-image"></i>
                    Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-question"></i>
                    FAQ
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>