.heading{
    font-size: 13px;
    margin-bottom: 0rem;
    opacity: 0.4;
    color: #7386D5;
}

#side {
    /* clip-path: polygon(100% 0, 100% 50%, 51% 100%, 0 100%, 0 0); */
    clip-path: polygon(0 0, 100% 0, 55% 100%, 0% 100%);
    background-image: url('../../../assets/woman.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.profile{
    /* position: absolute;
    z-index: 1600;
    width: 35%;
    height: 100%;
    text-indent: -140px; */
   
    height: 100%;
    width: 100%;
}

.info{
    font-size: 20px;
}

.info-data{
    padding: 5px;
    /* font-family: 'Monserrat' */
    font-weight: bold;  
    color: #7386D5;
}

.save {
    float: right;
}