<!-- VIEW FULLSCREEEEN BEST FOR 1440px-->
<!-- IMAGE OBTAINED FROM FREEPIK,VECTEEZY-->
<div class="outer">
    <!-- <div class="prod-logo">
        <img src="../../assets/logo.png" class="prod-img" alt="icon" />
    </div> -->
    <div class="inner">
        <div class="prod-left">
            <h1 class="prod-head"><span style="color:#0f457f">Scheduling</span> Omega</h1>
            <h4 class="prod-head-sub">Interview scheduling made easy...</h4>
        </div>
        <div class="prod-right">
            <img src="../../assets/human-image.png" class="prod-human-img"
                alt="prod" />
        </div>
    </div>
</div>